{% extends 'base.html.twig' %}

{% block title %}Edit Personal{% endblock %}

{% block body %}
    <h1>Edit Personal</h1>

    {{ include('personal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('personal_index') }}">back to list</a>

    {{ include('personal/_delete_form.html.twig') }}
{% endblock %}
