{% extends 'base.html.twig' %}

{% block title %}New Personal{% endblock %}

{% block body %}
    <h1>Create new Personal</h1>

    {{ include('personal/_form.html.twig') }}

    <a href="{{ path('personal_index') }}">back to list</a>
{% endblock %}
